<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IExcelUploadServicecs" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Services/ExcelUploadService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IExcelUploadServicecs"
                contract="SpearHeadService.IExcelUploadServicecs" name="WSHttpBinding_IExcelUploadServicecs">
                <identity>
                    <userPrincipalName value="VIMAL\vimal" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>