<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="LargeFileBinding" openTimeout="04:01:00" receiveTimeout="04:10:00"
          sendTimeout="04:01:00" />
        <binding name="CustomBinding_IExcelUploadService" openTimeout="04:01:00"
          receiveTimeout="04:10:00" sendTimeout="04:01:00">
          <reliableSession inactivityTimeout="00:03:00" />
          <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
            requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
            requireSignatureConfirmation="false" canRenewSecurityContextToken="true">
            <secureConversationBootstrap defaultAlgorithmSuite="Default"
              authenticationMode="SspiNegotiated" requireDerivedKeys="true"
              includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
              requireSignatureConfirmation="false">
              <localClientSettings detectReplays="true" />
              <localServiceSettings detectReplays="true" />
            </secureConversationBootstrap>
            <localClientSettings detectReplays="true" />
            <localServiceSettings detectReplays="true" />
          </security>
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Services/ExcelUploadService"
        binding="customBinding" bindingConfiguration="CustomBinding_IExcelUploadService"
        contract="SpearHeadService.IExcelUploadService" name="CustomBinding_IExcelUploadService">
        <identity>
          <userPrincipalName value="VIMAL\vimal" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>